/*Top Section*/
body {
    font-family: "Bebas Neue";
    background-color: #40BCE6;
    color:#5139FA
}

header {
    font-family: "Arvo";
    font-size: 20pt;
    text-align: center;
}

header {
    text-align:center;
    font-size: 30pt;
}

main {
    text-align: center;
    font-size: 35pt;
    color: #D9741C
}

 /*Bio Section*/
#bio {
    text-align: center;
    border: 6rem;
    font-size: 30pt;
    padding:8px;
   color: #D62E00
}

main img {
    width:300px;
}

/*Link Section*/
#Ebay {
    text-align: center;
    font-size: 30pt;
    color: #D62E00
}

footer {
    text-align: center;
    font-family: "Arvo";

}

#hobbies {
    text-align: center;
    color:#D62E00
}

/*Hobbies*/
#gallery img {
max-width: 200%;

}

#gallery figure {
    text-align: center;
}

#poem {
    max-width: 50rem;
    margin: 0 auto;
    color: black
}

#poem div p: first-letter {
    color: white;
    float:center;
    padding: 30em;
    line-height:.70;
    border: 5rem;


}


@media screen and (min width: 60em)
figure {
    display: grid;
    grid-template-columns: 2fr;
}

figcaption {
    display: flex;
    justify-content: center
    align-items: center;
    font-size: 3rem;
    margin-left: left;
}

#poem div {
    max-width: 100%;
    columns: 20%;

}

#formElements {
    display: grid;
    row-gap: 2.5rem;
}

#contact {
    padding: 2rem;
    max-width: 400px;
    margin: 5rem auto;
    border: 8rem;
    font size: 50pt;
}

fieldset {
    border: 4px solid #5139FA;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#contact input {
    padding: .7em;
    font size: 3rem;
    font size: 31rem;

}

#contact {
    font-size: 20pt;
    border: 10px solid #5139FA


}

#contact button {
    background-color:#D9741C;
    font-size: 15pt;
    color: white
    border: 3px solid #D62E00
    
}
 


