body {
    font-family: "Bebas Neue";
    background-color: #40BCE6;
    color:#5139FA
}

header {
    font-family: "Arvo";
    font-size: 20pt;
    text-align: center;
}

header {
    text-align:center;
    font-size: 30pt;
}

main {
    text-align: center;
    font-size: 20pt;
    color: #D9741C
}

#bio {
    text-align: center;
    font-size: 15pt;
    padding:8px;
   color: #D62E00
}

main img {
    width:300px;
}

#Ebay {
    text-align: center;
    font-size: 20pt;
}

footer {
    text-align: center;
    font-family: "Arvo";

}

